# COSC 130 - Homework 02

## Cynthia Feiteira

In [1]:
Employees = ['Alex', 'Beth', 'Chad', 'Drew', 'Emma', 'Fred']
Years = [5, 15, 2, 8, 4, 11]

del Employees[0]

del Employees[2]

del Employees[1]

del Employees[1]

Employees.insert(2, 'Drew')

Employees.insert(3, 'Alex')

Employees.insert(4, 'Emma')

Employees.insert(5, 'Chad')

Years.remove(5)

Years.remove(2)

Years.remove(8)

Years.remove(4)

Years.append(8)

Years.append(5)

Years.append(4)

Years.append(2)

In [2]:
Employees.insert(1, 'Gina')

Employees.insert(6, 'Herb')

In [3]:
del Employees[2]

del Employees[4]
print(Employees)

['Beth', 'Gina', 'Drew', 'Alex', 'Herb', 'Chad']

In [4]:
Employees.append('Iris')
print(Employees)

['Beth', 'Gina', 'Drew', 'Alex', 'Herb', 'Chad', 'Iris']

In [5]:
print(Years)

[15, 11, 8, 5, 4, 2]

In [6]:
Years.insert(1, 12)

Years.insert(6, 3)

In [7]:
Employees = ['Beth', 'Gina', 'Fred', 'Drew', 'Alex', 'Herb', 'Emma', 'Chad', 'Iris']
print(Employees)
Years = [15, 12, 11, 8, 5, 4, 2]
print(Years)

['Beth', 'Gina', 'Fred', 'Drew', 'Alex', 'Herb', 'Emma', 'Chad', 'Iris']
[15, 12, 11, 8, 5, 4, 2]

In [8]:
del Employees[2]
Years.remove(11)

In [9]:
del Employees[5]
Years.remove(4)

In [10]:
Employees.insert(4, 'Emma')
print(Employees)
print(Years)

['Beth', 'Gina', 'Drew', 'Alex', 'Emma', 'Herb', 'Chad', 'Iris']
[15, 12, 8, 5, 2]

In [11]:
del Employees[4]
Years.insert(4, 3)
Years.append(0)
print(Employees)
print(Years)

['Beth', 'Gina', 'Drew', 'Alex', 'Herb', 'Chad', 'Iris']
[15, 12, 8, 5, 3, 2, 0]

In [12]:
Employees = [f'Beth\t{15}', f'Gina\t{12}', f'Drew\t{8}', f'Alex\t{6}', f'Emma\t{5}', f'Herb\t{3}', f'Chad\t{2}', f'Iris\t{0}']
for workers in Employees:
    print(workers)
    
# So i wanted to see this list of employees with their seniority and used the loop function along with Homework 01 solutions and applied it to the list

Beth	15
Gina	12
Drew	8
Alex	6
Emma	5
Herb	3
Chad	2
Iris	0

## Problem 2: Sorting and Slicing Lists

In [13]:
import random
random.seed(12)
random_list = random.sample(range(500), 99)

In [14]:
print(random_list)
print(len(random_list))

[242, 137, 336, 270, 341, 179, 73, 195, 5, 191, 247, 140, 329, 414, 235, 353, 442, 307, 116, 285, 0, 338, 319, 74, 225, 188, 83, 173, 463, 107, 30, 295, 419, 102, 38, 262, 351, 467, 172, 348, 207, 408, 431, 44, 9, 31, 462, 478, 260, 114, 46, 216, 227, 57, 452, 448, 69, 276, 160, 318, 480, 473, 356, 26, 284, 87, 259, 417, 42, 205, 311, 214, 342, 305, 240, 244, 429, 196, 277, 15, 328, 371, 457, 98, 403, 339, 133, 182, 185, 484, 197, 344, 158, 58, 129, 120, 171, 186, 190]
99

In [15]:
print(random_list[:10])

new_list = random_list[:10]

[242, 137, 336, 270, 341, 179, 73, 195, 5, 191]

In [16]:
print(f'Length of randon_list:', len(random_list))
print(f'First 10 Elements of random_list:', random_list[:10])

Length of randon_list: 99
First 10 Elements of random_list: [242, 137, 336, 270, 341, 179, 73, 195, 5, 191]

In [17]:
print(f'The sum of the elements in random list is: {sum(random_list)}.')

The sum of the elements in random list is: 23739.

In [18]:
random_list_asc = sorted(random_list)

print(f'First 10 Elements of sorted_list:', random_list_asc[:10])
print(f'First 10 Elements of random_list:' , random_list[:10])

First 10 Elements of sorted_list: [0, 5, 9, 15, 26, 30, 31, 38, 42, 44]
First 10 Elements of random_list: [242, 137, 336, 270, 341, 179, 73, 195, 5, 191]

In [19]:
bot_slice = sorted(random_list_asc[:33])
mid_slice = sorted(random_list_asc[33:66])
top_slice = sorted(random_list_asc[66:])
print(len(bot_slice))
print(len(mid_slice))
print(len(top_slice))

print(f'The smallest element of bot_slice is {bot_slice[0]}.\nThe largest element of bot_slice is {bot_slice[32]}.\n\nThe smallest element of mid_slice is {mid_slice[0]}.\nThe largest element of mid_slice is {mid_slice[32]}.\n\nThe smallest element of top_slice is {top_slice[0]}.\nThe largest element of top_slice is {top_slice[32]}.')

33
33
33
The smallest element of bot_slice is 0.
The largest element of bot_slice is 173.

The smallest element of mid_slice is 179.
The largest element of mid_slice is 311.

The smallest element of top_slice is 318.
The largest element of top_slice is 484.

## Problem 3: Magnitude of a Vector

In [20]:
vector = [11, 6, -8, 4, -13, 2]
mag_v = 0 
for i in range(0, len(vector)):
    mag_v += vector[i]**2
    
mag_v = mag_v**0.5

print(round(mag_v, 4))

20.2485

In [21]:
rounded_unit_vector = []
unit_vector = []
for i in range(0, len(vector)):
    unit_vector.append(vector[i]/mag_v)
    rounded_unit_vector.append(round(unit_vector[i], 4))
    
print(rounded_unit_vector)

[0.5433, 0.2963, -0.3951, 0.1975, -0.642, 0.0988]

In [22]:
mag_u = 0 
for i in range(0, len(vector)):
    mag_u += unit_vector[i]**2
    
mag_u = mag_u**0.5

print(mag_u)

1.0

## Problem 4: Fibonacci Sequence

In [23]:
fib = [0,1]
for i in range(2, 30):
    nextfib = fib[i-1] + fib[i-2]
    fib.append(nextfib)
print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229]

## Problem 5: Printing a Table

In [24]:
first = ['Anna', 'Beatrice', 'Charles', 'David', 'Emma']
last = ['Anderson', 'Brown', 'Clark', 'Daniels', 'Edwards']
major = ['Mathematics', 'Data Science', 'Biology', 'Chemistry', 'Computer Science']
credits = [110, 83, 64, 35, 104]
gpa = [3.56, 3.24, 3.87, 2.83, 3.61]

print(f'{"First":<11}{"Last":<11}{"Major":<21}{"Credits":<9}{"GPA":<5}')
print('--------------------------------------------------------')
for i in range(0, len(first)):
    print(f'{first[i]:<11}{last[i]:<11}{major[i]:<21}{credits[i]:<9}{gpa[i]:<5}')

First      Last       Major                Credits  GPA
--------------------------------------------------------
Anna       Anderson   Mathematics          110      3.56
Beatrice   Brown      Data Science         83       3.24
Charles    Clark      Biology              64       3.87
David      Daniels    Chemistry            35       2.83
Emma       Edwards    Computer Science     104      3.61

## Problem 6: Calculating Sum of Squared Errors

In [25]:
#ùë§ùëíùëñùëî‚Ñéùë°=0.6‚àóùëôùëíùëõùëîùë°‚Ñé‚àí5.2
length = [22.7, 22.4, 25.8, 21.3, 20.1, 22.1, 21.1, 25.3, 26.9, 26.9, 23.0, 23.8, 26.2, 20.4, 23.0, 21.9, 23.5, 27.8, 25.3, 25.9]
weight = [9.2, 8.8, 10.7, 8.3, 6.2, 8.6, 7.2, 11.2, 10.5, 11.3, 9.6, 9.9, 10.9, 5.9, 9.5, 9.1, 9.7, 11.6, 10.2, 10.5]

pred_weight = []
for i in range(0, len(length)):
    new_weight =  0.6 * length[i] - 5.2
    pred_weight.append(round(new_weight, 2))
print(pred_weight)

[8.42, 8.24, 10.28, 7.58, 6.86, 8.06, 7.46, 9.98, 10.94, 10.94, 8.6, 9.08, 10.52, 7.04, 8.6, 7.94, 8.9, 11.48, 9.98, 10.34]

In [26]:
#1. For each observation, calculate the difference between the true weight and the predicted weight.
#2. Square this difference.
#3. Sum the squared differences over all observations

SSE = 0 
for i in range(0, len(weight)):
    SSE += ((weight[i] - pred_weight[i])**2)
print(round(SSE, 4))

10.2236

## Problem 7: Determining Monthly Payments

In [27]:
#Assume that you are considering purchasing a house and have been approved for
#a 30-year loan with a 0.4% monthly interest rate. We will calculate the monthly
#payment required for several different house prices between $100,000 and
#$200,000. Specifically, we will consider a sequence of prices starting at
#$100,000 and increasing in increments of $10,000 up to (and including) a price
#of $200,000.

i = 0.004
n = 360
start = 100000
stop = 200000
step = 10000
PMT = 0
for L in range(start, stop, step):
    PMT = L/((1-(1+i)**-n)/i)
    print(f'A loan of ${L} would require monthly payments of ${PMT:>.2f}.')

A loan of $100000 would require monthly payments of $524.67.
A loan of $110000 would require monthly payments of $577.13.
A loan of $120000 would require monthly payments of $629.60.
A loan of $130000 would require monthly payments of $682.06.
A loan of $140000 would require monthly payments of $734.53.
A loan of $150000 would require monthly payments of $787.00.
A loan of $160000 would require monthly payments of $839.46.
A loan of $170000 would require monthly payments of $891.93.
A loan of $180000 would require monthly payments of $944.40.
A loan of $190000 would require monthly payments of $996.86.

## Problem 8: Adding Matrices

In [28]:
ùê¥ = [ [13, 43, 28, 22, 41 ], [17, 39, 46, 16, 21], [41, 34, 31, 25, 14] ]
B = [ [35, 29 , 43, 21, 31], [48, 26, 19, 17, 23], [32, 34, 24, 16, 27] ]

AplusB = []

for i in range(0, 3):
    tempRow = []
    for j in range(0,5):
        tempRow.append(A[i][j] + B[i][j])
    AplusB.append(tempRow)
    
for row in AplusB:
    print(row)

[48, 72, 71, 43, 72]
[65, 65, 65, 33, 44]
[73, 68, 55, 41, 41]