# COSC 130 - Homework 03

### Cynthia Feiteira

## Problem 1: Calculating Exam Scores
In this problem, you will use a loop to calculate scores for two students who have taking a multiple-choice exam with 25
questions. Assume that the correct answers on the exam are as follows:

Correct Answers: D, B, C, A, C, D, A, C, C, B, D, A, B, D, C, D, C, D, C, A, B, D, C, B, A

The answers submitted by the two students are provided below.

Student 1 Answers: A, B, C, A, B, D, A, A, C, B, D, A, D, C, C, B, C, D, B, A, D, D, C, C, A

Student 2 Answers: D, A, C, A, B, D, A, C, C, B, D, A, B, D, A, D, C, D, C, A, B, C, C, B, A

In [1]:
correct = ['D', 'B', 'C', 'A', 'C', 'D', 'A', 'C','C', 'B', 'D', 'A', 'B', 'D', 'C', 'D', 'C', 'D', 'C', 'A', 'B', 'D', 'C', 'B', 'A']
answers1 = ['A', 'B', 'C', 'A', 'B', 'D', 'A', 'A', 'C', 'B', 'D', 'A', 'D', 'C', 'C', 'B', 'C', 'D', 'B', 'A', 'D', 'D', 'C', 'C', 'A']
answers2 = [ 'D', 'A', 'C', 'A', 'B', 'D', 'A', 'C', 'C', 'B', 'D', 'A', 'B', 'D', 'A', 'D', 'C', 'D', 'C', 'A', 'B', 'C', 'C', 'B', 'A']
temp = len(correct)

count1 = 0
count2 = 0
i = 0
for i in range(0, temp):
    
    if answers1[i] == correct[i]:
        count1 +=  1
    
    if answers2[i] == correct[i]:
        count2 += 1

grade1 = count1/temp*100

grade2 = count2/temp*100

print(f'Student 1 Grade: %{grade1}\nStudent 2 Grade: %{grade2}')

Student 1 Grade: %64.0
Student 2 Grade: %84.0

## Problem 2: Calculating Price of a Bulk Order

WidgCo is a company that sells widgets. The company uses the bulk pricing policy described below.
â€¢ If 100 or fewer widgets are ordered, then each widget costs $350.
â€¢ If 200 or fewer widgets are ordered, the first 100 widgets each cost $350, and each additional widget costs $300.
â€¢ If more than 200 widgets are ordered, then the first 100 each cost $350, the next 100 each cost $300, and each
widget beyond the first 200 will cost $250.
In this problem, you will determine the price for orders containing the following numbers of widgets:

84, 100, 126, 150, 186, 200, 216, 248

In [2]:
quantities = [84, 100, 126, 150, 186, 200, 216, 248]
amount = len(quantities)
price1 = 350
price2 = 300
price3 = 250
for i in range(0, amount):
    ord_tot = 0
    ord_quan = quantities[i]
    if(ord_quan > 200):
        ord_tot = (ord_quan-200)*price3 + (100*price2) + (100*price1)
    elif(ord_quan <= 200):
        ord_tot = (ord_quan - 100)*300 + 100*350
    else:
        ord_tot = ord_quan*350
    print(f'The cost for an order of {ord_quan} widgets is ${ord_tot}.')

The cost for an order of 84 widgets is $30200.
The cost for an order of 100 widgets is $35000.
The cost for an order of 126 widgets is $42800.
The cost for an order of 150 widgets is $50000.
The cost for an order of 186 widgets is $60800.
The cost for an order of 200 widgets is $65000.
The cost for an order of 216 widgets is $69000.
The cost for an order of 248 widgets is $77000.

## Problem 3: Creating an Amortization Schedule


Suppose that 1000 dollars is borrowed at the beginning of the year. The loan is charged interest at an annual interest rate of 5 percent.
The borrower will repay the loan by making payments of 150 dollars at the end of the year until the loan is repaid. Note that
when the final payment is made, the balance will be less than 150 dollars, and so a partial payment will be made at that time.

In [3]:
balance = 1000
i = 0.05
pmt = 150
n = 0

while balance > 0:
    balance = round(balance*(1 + i)-pmt, 2)
    n += 1
    
    if balance < 0:
        final_pmt = balance+pmt
        balance = 0
    print(f'The balance at the end of the year {n} is ${round(balance, 2)}.')

The balance at the end of the year 1 is $900.0.
The balance at the end of the year 2 is $795.0.
The balance at the end of the year 3 is $684.75.
The balance at the end of the year 4 is $568.99.
The balance at the end of the year 5 is $447.44.
The balance at the end of the year 6 is $319.81.
The balance at the end of the year 7 is $185.8.
The balance at the end of the year 8 is $45.09.
The balance at the end of the year 9 is $0.

In [4]:
print(f'The amount of the final payment will be ${final_pmt}.')

The amount of the final payment will be $47.34.

## Problem 4: Hailstone Sequences

In mathematics, a hailstone sequence is a sequence creates as follows:
â€¢ Select a starting value for the sequence.
â€¢ If a particular term in the sequence is equal to ð‘›, then the next term will be equal to ð‘›/2 if ð‘› is even, and will be
equal to 3ð‘› +1 if ð‘› is odd.
â€¢ The sequence continues until reaching a term that is equal to 1.
For example, the hailstone sequence beginning with 12 is: 12, 6, 3, 10, 5, 16, 8, 4, 2, 1
It is widely believed that any starting value will result in a sequence that eventually reaches 1, but this has not been proven
to be true.

In [5]:
hs15 = [15]
n= 15
while n != 1:
    if n % 2 == 0:
        n = n/2
        hs15.append(int(n))
    else: 
        n = 3*n+1
        hs15.append(int(n))
print(hs15)

hs17 = [17]
n= 17
while n != 1:
    if n % 2 == 0:
        n = n/2
        hs17.append(int(n))
    else: 
        n = 3*n+1
        hs17.append(int(n))
print(hs17)

hs22 = [22]
n= 22
while n != 1:
    if n % 2 == 0:
        n = n/2
        hs22.append(int(n))
    else:
        n = 3*n+1
        hs22.append(int(n))     
print(hs22)

[15, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]

## Problem 5: Predator/Prey Model


Assume that a certain ecosystem contains both rabbits and wolves. The size of the rabbit population and the size of the
wolf population both fluctuate, and have an effect on each other. Suppose that the current sizes of the populations can be
used to determine the sizes of the populations one year from now according to the following population model:

â€¢ Let ð‘Ÿð‘ be the current size of the rabbit population.

â€¢ Let ð‘¤ð‘ be the current size of the wolf population.

â€¢ Let ð‘Ÿð‘› be the size of the rabbit population one year from now.

â€¢ Let ð‘¤ð‘› be the size of the wolf population one year from now

â€¢ The population sizes one year from now are determine by the following 

equations:

ð‘Ÿð‘› = 1.5 â‹… ð‘Ÿð‘ âˆ’ 0.002 â‹… ð‘Ÿð‘â‹… ð‘¤ð‘

ð‘¤ð‘› = 0.8 â‹… ð‘¤ð‘ +0.0003 â‹… ð‘Ÿð‘â‹… ð‘¤ð‘

Suppose that the current rabbit population is 1000 and the current wolf population is 200. Under these circumstances, the
populations will fluctuate for several years, but the rabbit population will eventually die out completely.

In [6]:
r_pop = 1000
w_pop = 200

print(f'{"Year":<6}{"r_pop":>10}{"w_pop":>10}')
print('--------------------------')
print(f'{"0":<6}{r_pop:>9}{w_pop:>9}')

new_year = 0
while r_pop > 0:
    r_pop_prev = r_pop
    w_pop_prev = w_pop
    r_pop = (1.5 * r_pop_prev) - 0.002 * (r_pop_prev * w_pop_prev)
    w_pop = (0.8 * w_pop_prev) + 0.0003 * (r_pop_prev * w_pop_prev)
    if r_pop < 0:
        r_pop = 0 
    new_year += 1
    print('{:<5.0f}'.format(new_year),'{:>9.0f}'.format(r_pop), '{:>8.0f}'.format(w_pop))

Year       r_pop     w_pop
--------------------------
0          1000      200
1          1100      220
2          1166      249
3          1169      286
4          1085      329
5           914      370
6           694      398
7           489      401
8           341      380
9           253      343
10          206      300
11          185      259
12          182      221
13          193      189
14          216      162
15          254      140
16          310      123
17          389      110
18          497      101
19          646       95
20          846       95
21         1108      100
22         1441      113
23         1835      140
24         2240      188
25         2516      277
26         2378      431
27         1516      653
28          295      819
29            0      728

 ## Problem 6: Finding a Root of a Polynomial Function
Consider the function ð‘“(ð‘¥) = ð‘¥
3 âˆ’ 4ð‘¥
2 + 3ð‘¥ âˆ’ 4. A plot of this function for values of ð‘¥ between 0 and 5 is provided below. 

The plot above shows that the function ð‘“(ð‘¥) is equal to zero somewhere between ð‘¥ = 0 and ð‘¥ = 5. In other words, the
plot shows that the equation ð‘¥
3 âˆ’ 4ð‘¥
2 + 3ð‘¥ âˆ’ 4 = 0 has a solution somewhere between ð‘¥ = 0 and ð‘¥ = 5. Your goal in
this problem will be to approximate the value of this solution.

In [7]:
x1 = 0
x2 = 5
val1 = (x1**3) - 4*(x1**2) + 3*(x1) - 4
val2 = (x2**3) - 4*(x2**2) + 3*(x2) - 4

n = 0 
while (abs(val1) > 0.000001) and (abs(val2) > 0.000001):
    new_x = (x1 + x2) / 2
    new_val = (new_x**3) - 4*(new_x**2) + 3*(new_x) - 4
    if new_val < 0:
        x1 = new_x
        val1 = new_val
    else:
        x2 = new_x
        val2 = new_val
    n += 1
print(f'The approximate solution is x = {round((x1 + x2)/2, 7)}.')
print(f'The algorithm took {n} iterations to coverage. ')

The approximate solution is x = 3.4675044.
The algorithm took 22 iterations to coverage.

## Problem 7: Grade Database

In this problem, you will be displaying (fictional) grade information that is assumed to be taken from a university's grade
database. The information is stored in two dictionaries and three lists, as shown below

In [8]:
students = {
 146832:{'first':'Brendan', 'last':'Small'},
 147354:{'first':'Melissa', 'last':'Robbins'},
 149126:{'first':'Jason', 'last':'Penopolis'},
 149735:{'first':'Fenton', 'last':'Mulley'}
}
courses = {
 'ENGL 101':'Composition I',
 'ENGL 104':'Composition II',
 'MATH 117':'College Algebra',
 'MATH 151':'Calculus I',
 'CHEM 103':'General Chemistry I',
 'ECON 201':'Macroeconomics'
}
sid = [149126, 146832, 147354, 149735, 149126, 146832,
 146832, 149735, 149126, 147354, 147354, 149735]
cid = ['ENGL 101', 'MATH 117', 'ENGL 104', 'CHEM 103', 'MATH 117', 'ECON 201',
 'ENGL 101', 'ENGL 101', 'CHEM 103', 'ENGL 104', 'MATH 151', 'MATH 117']
grade = ['D', 'C', 'B', 'A', 'B', 'C',
 'A', 'F', 'B', 'A', 'A', 'C']

In [9]:
print(f'{"SID":<9}{"First":<10}{"Last":<12}{"CID":<11}{"Course Name":<22}{"Grade"}')
print("-"*69)


for i in range(len(sid)):
    print(f"{sid[i]:<9}{students[sid[i]]['first']:<10}{students[sid[i]]['last']:<12}{cid[i]:<11}{courses[cid[i]]:<22}{grade[i]:>4}")

SID      First     Last        CID        Course Name           Grade
---------------------------------------------------------------------
149126   Jason     Penopolis   ENGL 101   Composition I            D
146832   Brendan   Small       MATH 117   College Algebra          C
147354   Melissa   Robbins     ENGL 104   Composition II           B
149735   Fenton    Mulley      CHEM 103   General Chemistry I      A
149126   Jason     Penopolis   MATH 117   College Algebra          B
146832   Brendan   Small       ECON 201   Macroeconomics           C
146832   Brendan   Small       ENGL 101   Composition I            A
149735   Fenton    Mulley      ENGL 101   Composition I            F
149126   Jason     Penopolis   CHEM 103   General Chemistry I      B
147354   Melissa   Robbins     ENGL 104   Composition II           A
147354   Melissa   Robbins     MATH 151   Calculus I               A
149735   Fenton    Mulley      MATH 117   College Algebra          C

## Problem 8: Warehouse Inventory


Suppose that a company sells five products with product codes p101, p107, p122, p125, and p126. The company has three
warehouses, which are located in St. Louis, Chicago, and Kansas City. The retail value for each of the five products and the
inventory for each of the warehouses are stored in dictionaries, as shown below.

In [10]:
prices = {'p101':37.52, 'p117':56.98, 'p122':43.72, 'p125':48.33, 'p126':52.45}
inventory = {
 'STL':{'p101':520, 'p117':315, 'p122':117, 'p125':258, 'p126':345},
 'CHI':{'p101':125, 'p117':864, 'p122':231, 'p125':612, 'p126':164},
 'KC' :{'p101':264, 'p117':285, 'p122':772, 'p125':467, 'p126':106}
}

In [11]:
total_inventory = {}

for i in prices.keys():
    quantity = 0
    prod_id = i
    S = inventory['STL'][i]
    C = inventory['CHI'][i]
    K = inventory['KC'][i]
    quantity += S + K + C
    total_inventory[i] = quantity

for i in total_inventory:
    print(f'{i}: {total_inventory[i]}')
    
total_value = 0 
for i in prices:
    total_value +=  total_inventory[i] * prices[i]  
print(f'The total value of inventory is ${total_value}.')

p101: 909
p117: 1464
p122: 1120
p125: 1337
p126: 615
The total value of inventory is $263364.76.