# COSC 130 - Homework 01

## Cynthia Feiteira

In [1]:
x0 = 11 
x1 = 12 
x2 = 17 
x3 = 19 



total = x0 + x1 + x2 + x3



product = x0 * x1 * x2 * x3 


arith_mean = total / 4


geom_mean = product ** (1/4)

print(f"sum:{total:>22}")
print(f"product:{product:>21}")
print(f"arithmetic mean:\t{arith_mean}")
print(f"geometric mean:{round(geom_mean, 2):>14}")

sum:                    59
product:                42636
arithmetic mean:	14.75
geometric mean:         14.37

In [2]:
ss_cost = 2 * 3.95 
hb_cost = 2 * 8.95
ds_cost = 2 * 2.50

ss_cost + hb_cost + ds_cost
 
subtotal = ss_cost + hb_cost + ds_cost


tax  = subtotal * 0.0475 


tip = subtotal * 0.15


total_charge = subtotal + tax + tip

print(f"2 Side Salads:\t${ss_cost:>.2f}")
print(f"2 Hamburgers:\t${hb_cost:>.2f}")
print(f"2 Diet Sodas:\t${ds_cost:.2f}")
print("----------------------")
print(f"Subtotal:\t${subtotal:.2f}")
print(f"Tax (4.75%):\t${tax:.2f}")
print(f"Tip (15%):\t${tip:.2f}")
print("----------------------")
print(f"Total Charge:\t${total_charge:.2f}")

2 Side Salads:	$7.90
2 Hamburgers:	$17.90
2 Diet Sodas:	$5.00
----------------------
Subtotal:	$30.80
Tax (4.75%):	$1.46
Tip (15%):	$4.62
----------------------
Total Charge:	$36.88

In [3]:
pi = 3.14159
r1 = 4.6
r2 = 7.2
r3 = 9.7

v1 = 4/3 * pi * r1 **(3)


v2 = 4/3 * pi * r2 **(3)


v3 = 4/3 * pi * r3 **(3)

print('The Volume of a sphere with a radius', r1, 'is equal to', round(v1, 3))
print('The Volume of a sphere with a radius', r2, 'is equal to', round(v2, 3))
print('The Volume of a sphere with a radius', r3, 'is equal to', round(v3, 3))

The Volume of a sphere with a radius 4.6 is equal to 407.72
The Volume of a sphere with a radius 7.2 is equal to 1563.456
The Volume of a sphere with a radius 9.7 is equal to 3822.992

In [4]:
P = 210
i = 0.09
t = 10/12

P * (1 + i * t)

A = 225.75

print(f"Amount repaid: ${A}")

Amount repaid: $225.75

In [5]:
P = 400
i = 0.05
t = 3

P * (1 + i)**(t)

A = 463.05

print(f"Amount repaid: ${A}")

Amount repaid: $463.05

In [6]:
pmt = 2000
i = 0.04
n = 18

pmt * (((1+i) **(n) - 1)/i)

A = 51290.82

print(f"Balance after 18 years: ${A}")

Balance after 18 years: $51290.82

In [7]:
prob_A = 0.6
prob_B = 0.3


prob_A_or_B = prob_A * prob_B


prob_A_and_B = prob_A + prob_B - prob_A_or_B

print(f"Probability that both people are late:{prob_A_and_B:>15}")
print(f"Probability that at least one person is late:{prob_A_or_B:>8}")

Probability that both people are late:           0.72
Probability that at least one person is late:    0.18

In [8]:
first = 'Cynthia'
last = "Feiteira"
sid = 1043230
FirstName = "First Name:"
LastName = "Last Name:"
StudentID = "Student ID:"

msg = f'{FirstName:<15}{first:<10}\n{LastName:<15}{last:<10}\n{StudentID:<15}{sid:<10}'


print(msg)

First Name:    Cynthia
Last Name:     Feiteira
Student ID:    1043230

In [9]:
len(msg)

77